backend/.env
backend/__pycache__
backend/faiss_index
backend/knowledge_base/*.jsonl
docker/kubectl
docker/oc
frontend/dist
frontend/node_modules
frontend/package-lock.json

frontend/package.json
pyenv
